
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
body{
    
    font-family: 'Yomogi', cursive;
    background: url('https://i1.faceprep.in/ProGrad/minion-background.png');
    background-size: 100% 100%;
   
}
section{
    width: 500px;
    background-color: white;
    margin: auto;
    padding: 10px 0;
}
label{
    font-weight: bold;
}
input, textarea{
    margin: 10px 0;
}
div{
    text-align: center;
}

p,
input[type="text"],
input[type="number"],
textarea,
form{
    width:350px;
    padding: 8px;
}

img {
    width: 200px;
    height: 150px;
}
p,
form{margin:auto;}
input[type="submit"]{
    display: block;
    background-color: rgb(56, 152, 230);
    color:white;
    margin: auto;
    width:150px;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
   
};

input[type="checkbox"]{
    margin-left: 10px;
    margin-right: 10px;
}










